body
{
	background-color: #F7F8FA; 
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px; 
}
#index-container{
}
#index-head{
	border: 1px solid #DCDCDC;
	background:#ffffff;
	height: 50px;
	font-family: fz;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
	border-bottom:  1px solid rgba(30,35,42,.06);
}
ul{
	width: 100%;
	height: auto;
	padding: 0;
}
li{
	list-style: none;
	background: #F7F8FA;
	height: 220px;
}
#index-head-inner{
	position: relative;
	width: 1000px;
	height: 50px;
	padding: 0 16px;
	margin:0 auto;
	line-height: 50px;
}
#index-head-nav{
	height: 50px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 18px;
	margin-right: 18px;
	float: left;
	width: auto;
}
#index-head-inner li{
	float: left;
	list-style: none;
	position: relative;
	height: 30px;
	line-height: 30px;
	margin: 10px;
	background: #fff;

}
a{
	text-decoration: none;
	padding: 0 10px;
	height: 50px;
	width: 30px;
	color: #636363;;
}
a:hover{
	color: #84CDFC;
}
#index-head-nav li ul{
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
}
#index-head-nav li li{
	float: none;
	width: 70px;
	margin: 0;
	padding: 0;
	text-align: center;
}
#index-head-nav li:hover>ul{
	display:block;
}
#index-head-nav li li a{
	height: 30px;
	width: 70px;
	color: #636363;
	text-align: center;
}
#index-head-nav li li a:hover{
	color: #84CDFC;
}
.search-bar{
	font-size: 14px;
	float: left;
	width: 326px;
	height: 30px;
	padding: 10px 10px;
}
#popver{
	position: relative;
	height: 100%;
	width:100%;
	border: 1px solid #e7eaf1;
	border-radius: 3px;
	box-sizing: border-box;
	background: #f7f8fa;
}
#search-bar-container{
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
}
#search-bar-input{
	height: 24px;
	border:none;
	background: transparent;
	color: #636363;
	width: 260px;
}
#search-bar-button{
	float: right;
	height: 28px;
	width: 28px;
	background: url(../pic/search-button.png) no-repeat;
	background-size: 100% 100%;
	border: none;
	cursor:pointer;
}
.search-button{
	float: left;
	width: auto;
	background: #84CDFC;
	height: 30px;
	margin: 10px;
	padding: 5px 15px;
	color: #fff;
	border: 0.5px solid #e7eaf1;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 6px;
}
#new-content{
	width: 66%;
	height: auto;
	float: left;
	background-color: #F7F8FA;
}
#new-container{
	width: 80%;
	height: auto;
	margin-right: 2%;
	float: right;
	background: #ffffff;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
}
#content-main{
	max-width: 100%;
	padding: 10px 20px;
	color: #333;
	font-size: 1.2rem;
	height: auto;
}
#none{
	width: 100%;
	height: auto;
	padding: 0;
	color: #636363;
	text-align: center;
	padding-bottom: 5px;
	font-family: fz;
}
#load{
	width: 100%;
	height: auto;
	padding: 0;
	color: #636363;
	text-align: center;
	padding-bottom: 5px;
	font-family: fz;
}
.list-news{
	padding-bottom: 20px;
	margin-bottom: 15px;
}
.list-news-top{
	width: 100%;
	clear: both;
	height: 30px;
	margin-bottom: 10px;
}
.media-head{
	background-size:26px 26px;
	width: 26px;
	height: 26px;
	border-radius: 26px;
	float: left;
	background: #84CDFC;
	margin: 7px;
}
.media-name{
	color: #757575;
	float: left;
	font-size: 16px;
	height: 26px;
	line-height: 26px;
	text-indent: .5em;
	margin: 7px;
	font-weight: bold;
}
.news-classify{
	float: right;
	border-right: 3px solid #636363;
	height: 26px;
	line-height: 26px;
	margin: 7px 0;
	color: #636363;
}
.new-item-content{
	width: 100%;
	height: 152px;
	padding: 0;
}
h3{
	line-height: 30px;
	height: 30px;
	margin: 0;
	overflow: hidden;
}
h3 a{
	color: #636363;
	font-weight: bold;
	overflow: hidden;
}
.new-item-content-inner{
	margin-top: 9px;
	margin-bottom: -5px;
	overflow: hidden;
	height: 100px;
	cursor: pointer;
	font-size: 14px;
	padding: 0px 20px 0px 10px;
	letter-spacing: 1.5px;
}
.list-news-action{
	height: 40px;
	padding: 0 10px;
}
.list-news-action-review{
	height: 30px;
	width: 80px;
	padding: 0px;
	margin: 0;
	cursor: pointer;
	float: left;
}

.list-news-action-like{
	height: 30px;
	width: 80px;
	padding: 0px;
	margin: 0;
	cursor: pointer;
	float: left;
}
.list-news-action-time{
	float: right;
	height: 30px;
	width: 200px;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
	color: #636363;
}
#index-right{
	float: right;
	width: 25%;
	height: 300px;
	background: #F7F8FA;
	position: fixed;
	top: 65px;
	right: 115px;
	font-family:fz;
}
#right-container{
	width: 70%;
	height: 100%;
	background: #ffffff;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
	padding: 10px 20px;
}
.person-head{
	width: 100px;
	height:100px;
	border-radius: 100px;
	margin: 0 auto;
	background-image: url('../pic/user-head.png');
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
	cursor: pointer;
}
.person-name{
	width: 100px;
	height: 30px;
	padding:5px 0px 10px 0px;
	margin: 0 auto;
	line-height: 30px;
	text-align: center;
	color: #636363;
	font-size: 13px;
}
.person-piece{
	margin: 5px auto 20px auto;
	width: 100%;
	height: 20px;
	cursor: pointer;
}
.person-piece:hover{
	color: #84CDFC;
}
#log-out{
	margin: 0 35px;
	width: 150px;
	height: 25px;
	background: #F7F8FA;
	border-style: none;
	border-radius: 5px;
	cursor: pointer;

}
#log-out:hover{
	background: #ed6452;
	color: #fff;
}
#delete-mynews{
	padding-left: 15px;
	font-family: fz;
	color: #636363;
	cursor: pointer;
}
#delete-mynews:hover{
	color: #84CDFC;
}
#mylike{
	font-family: fz;
	color: #636363;
	width: 80%;
	font-size: 17px;
	height: 50px;
	margin-right: 2%;
	margin-bottom: 15px;
	float: right;
	background: #ffffff;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
	line-height: 50px;
}
.hf-con a:hover{
	background:#63acdb;
	color: #fff;
}
#setup{
	font-family: fz;
	color: #636363;
	width: 80%;
	font-size: 17px;
	height: 50px;
	margin-right: 2%;
	margin-bottom: 15px;
	float: right;
	background: #ffffff;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
	line-height: 50px;
}
#comment-me{
	font-family: fz;
	color: #636363;
	width: 80%;
	font-size: 17px;
	height: 100px;
	margin-right: 2%;
	margin-bottom: 15px;
	float: right;
	background: #ffffff;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
	line-height: 50px;
}
#comment-me-l{
	padding: 20px;
	width: 60px;
	height: 60px;
	float: left;
}
#comment-me-m{
	padding: 20px;
	height: auto;
	height: 60px;
	float: left;
}
