#setup-content-main{
	max-width: 100%;
	padding: 20px 20px;
	color: #333;
	font-size: 14px;
	height: auto;
}
.setup-container{
	height: auto;
	width: 100%;
	padding: 10px 0;
	overflow: hidden;
}
.sbi-l{
	margin: 0;
	width: 95px;
	text-align: right;
	margin-right: 23px;
	float: left;
	font-size: 14px;
}
.sbi-m{
	float: left;
	margin: 0;
}
.user-name{
	padding: 0 4px;
	width: 218px;
	height: 26px;
	border: 1px solid #ddd;
	border-radius: 2px;
	line-height: 26px;
}
.setup-tab{
	padding:0 10%;
	float: left;
	cursor: pointer;	
}
#setup a{
	width: auto;
	height: auto;
	padding: 0;
}
.sbi-m .search-button{
	margin: 0 20px;
	height: 100%;
}
.circle{
	height: 200px;
	width: 200px;
	margin: 0 auto;
	border-radius: 200px;
	border: 1px solid #e5e9ef;
	padding: 20px;
}
.circle img{
	height: 100%;
	width:100%;
	border-radius: 100%;
}
.ih-item{           
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    } 

.ih-item .img img{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    } 

.ih-item .info {
position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;/* 隐藏旋转元素的背面*/
    backface-visibility: hidden;
    background: rgba(0, 0, 0, 0.6);   /*后面这个0.6是指的背景的透明度*/
    opacity: 0;
    -webkit-transition: all 0.35s ease-in-out;   /*规定提示信息怎样出现ease-in-out以慢速度开始和结束*/
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    border-radius: 100%;
    line-height: 200px;
}

.ih-item a:hover .info {
    opacity: 1;    /*有opacity有0变成1*/            
}
.info h3{
	line-height: 200px;
	height: auto;
}
.ih-item a{
	padding: 0;
	height: auto;
	width: auto;
}
